.card {
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.card > *, .textContent > * {
  flex: 1 1 100%;
}

.textContent {
  display: flex;
  flex-flow: row wrap;
  padding: 22px 20px 13px;
}

.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;

}

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.userName {
  color: var(--orange);
}

.createdAt {
  color: var(--gray99);
}

.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  padding: 7px 0 0;
}

.postLink {
  overflow: hidden;
  --webkit-line-clamp: 2;
  --webkib-box-orient: vertical;
  display: --webkit-box;
}

.preview {
  max-height: 178px;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: absolute;
  top: 17px;
  right: 15px;
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background: transparent;
  border: 0;
}

.menuButton:active, .menuButton:hover {
  background-color: rgba(51, 51, 51, 0);
}

.publishedLabel {
  display: none;
}


@media all and (min-width: 1024px) {
  .publishedLabel {
    display: inline;
  }
}


.controls {
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.karmaCounter > * + * {
  padding: 0 0 0 4px;
}

.karmaValue {
  color: var(--grayC4);
}

.karmaUp {
  height: 16px;
  width: 20px;
  border: 0;
}

.karmaDown {
  height: 16px;
  width: 20px;
  transform: rotate(180deg);
  border: 0;
}

@media all and (min-width: 1540px) {
  .card {
    padding: 0 60px;
  }

  .textContent {
    flex-basis: 672px;
  }

  .card:hover, .card:focus-within {
    outline: 1px solid var(--grayD9);
  }

  .userLink:hover a {
    text-decoration: underline;
  }

  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  .karmaCounter > button.karmaUp:hover > svg > path {
    fill: var(--green)
  }

  .karmaCounter > button.karmaDown:hover > svg > path {
    fill: var(--green)
  }

  .controls {
    position: relative;
  }

  .postLink:after {
    contant: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .userName {
    position: relative;
    z-index: 1;
  }

  .card:hover h2 a, .card:focus-within h2 a {
    color: var(--orange);
  }
}